*{
    padding: 0;
}

img{
    height: 136px;
    width: 136px;
}

body{
    margin-top: 145px;
    background-color: #FDEEDC;
}

.logo{
    height:33px;
    width: 33px;
    padding-right: 20px;
}

.profile{
    border-radius: 40px;
}



h2,p{
    font-family: 'Caveat', cursive;
}